@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.gotita-size {
  width: 200px;
  height: 200px;
}

.shadow, .main-contactanos .container-contactanos .formulario, .main-pacientesamb .formulario .turnos, .main-donantes .requisitos, .container-banner, .navbar a:hover {
  box-shadow: #B73E3E 0px 5px 20px;
  border-radius: 5px;
}

.navbar {
  background-color: #eddbc0 !important;
  position: sticky;
  top: 0px;
  height: 100px;
  z-index: 1;
}
.navbar a img {
  height: 120px;
}
.navbar form button {
  background-color: #B73E3E;
  color: #eddbc0;
  border: none;
  box-shadow: 1px 1px 1px 1px black;
}
.navbar form button:hover {
  background-color: rgb(248, 142, 142);
}
.navbar form .form-control {
  margin: auto;
}
.navbar a:hover {
  font-weight: bolder;
}

@media (max-width: 768px) {
  .container-fluid {
    margin: 0px;
    background-color: #eddbc0;
  }
  .size {
    height: 90px !important;
  }
}
.container-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-areas: "text logo-completo";
}
.container-banner .text {
  grid-area: text;
}
.container-banner .logo-completo {
  grid-area: logo-completo;
}
.container-banner div {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.container-banner div img {
  width: 300px;
  height: 300px;
}

@media (max-width: 768px) {
  .container-banner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "text" "logo-completo";
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  color: #eddbc0;
  background-color: #B73E3E;
  text-align: center;
  font-size: 13px;
}
footer .menufooter ul {
  padding-left: 0px;
}
footer .menufooter ul li {
  list-style-type: none;
}
footer .menufooter ul li a {
  text-decoration: none;
  color: #eddbc0;
}
footer .bi {
  color: #eddbc0;
  margin: 10px;
}
footer .bi-twitter:hover {
  color: #1DA1F2;
}
footer .bi-instagram:hover {
  color: rgb(188, 12, 241);
}
footer .bi-facebook:hover {
  color: #4267B2;
}
footer h6 {
  font-weight: bolder;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
.main-index .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-areas: "sangre donar donacion";
  width: 100%;
}
.main-index .container .sangre {
  grid-area: sangre;
}
.main-index .container .donar {
  grid-area: donar;
}
.main-index .container .donacion {
  grid-area: donacion;
}
.main-index .container .donacion li {
  display: list-item;
}

@media (max-width: 768px) {
  .main-index .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "sangre" "donacion" "donar";
  }
}
.main-donantes .container-donantes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-areas: "quienes" "cantidad" "vih" "debilitar";
  text-align: center;
  margin: 10px;
  padding: 10px;
  height: min-content;
}
.main-donantes .container-donantes .quienes {
  grid-area: quienes;
}
.main-donantes .container-donantes .cantidad {
  grid-area: cantidad;
}
.main-donantes .container-donantes .vih {
  grid-area: vih;
}
.main-donantes .container-donantes .debilitar {
  grid-area: debilitar;
}
.main-donantes .requisitos {
  display: flex;
  text-align: center;
  margin: 35px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-donantes .requisitos button {
  background-color: #B73E3E;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.main-donantes .requisitos button a {
  color: #eddbc0;
  border-radius: 20px;
  text-decoration: none;
}
.main-donantes .requisitos button a:visited {
  color: grey;
}

.main-pacientesamb {
  text-align: center;
}
.main-pacientesamb .container-pacientesamb {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "transfusiones sangre";
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: start;
  margin: 20px;
  padding: 20px;
}
.main-pacientesamb .transfusiones {
  grid-area: transfusiones;
  width: 400px;
}
.main-pacientesamb .sangre {
  grid-area: sangre;
  width: 400px;
}
.main-pacientesamb .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-pacientesamb .formulario .turnos {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 10px;
  padding-top: 20px;
  width: 300px;
  height: 390px;
}
.main-pacientesamb .formulario .turnos input {
  margin: 0.5px;
}

@media (max-width: 768px) {
  .main-pacientesamb .container-pacientesamb {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "transfusiones" "sangre";
    margin: 10px;
    padding: 10px;
  }
  .main-pacientesamb .container-pacientesamb .transfusiones {
    width: 350px;
  }
  .main-pacientesamb .container-pacientesamb .sangre {
    width: 350px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .main-pacientesamb .formulario {
    width: 350px;
  }
}
.main-sucursales {
  margin: 50px;
}
.main-sucursales .container-sucursales {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-areas: "mapa indicaciones";
}
.main-sucursales .container-sucursales .mapa {
  grid-area: mapa;
}
.main-sucursales .container-sucursales .indicaciones {
  grid-area: indicaciones;
}
.main-sucursales .container-sucursales .indicaciones li {
  display: list-item;
  padding: 10px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

@media (max-width: 768px) {
  .main-sucursales .container-sucursales {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "indicaciones" "mapa";
  }
}
@media (max-width: 768px) {
  .size-mapa {
    height: 250px;
    width: 190px;
  }
}
@media (max-width: 768px) {
  .indicaciones {
    width: 190px;
    margin: 10px;
  }
}
.main-contactanos .container-contactanos {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.main-contactanos .container-contactanos .formulario {
  text-align: center;
  margin: 30px;
  width: 400px;
  height: 550px;
}
.main-contactanos .container-contactanos .formulario h2 {
  margin-top: 10px;
}
.main-contactanos .container-contactanos .formulario .enviar {
  color: #eddbc0;
  background-color: #B73E3E;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 768px) {
  .formulario {
    width: 250px;
  }
}/*# sourceMappingURL=main.css.map */