.main-contactanos {
    .container-contactanos {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

        .formulario {
            text-align: center;
            margin: 30px;
            width: 400px;
            height: 550px;
           @extend .shadow;

            h2 {
                margin-top: 10px;
            }

            .enviar {
                color: $crema;
                background-color: $rojo;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}
//responsive
@media (max-width:768px){
    .main-contactanos .container-contactanos .formulario{
        width: 250px;

    }
}