h1 {
    font-family: $font2;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.gotita-size {
    width: 200px;
    height: 200px;
}

.shadow{box-shadow: $rojo 0px 5px  20px;
    border-radius: 5px;}