footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    color: $crema;
    background-color: $rojo;
    text-align: center;
    font-size: 13px;


    .menufooter {
        ul {
            padding-left: 0px;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: $crema
                }
            }
        }
    }

    .bi {
        color: $crema ;
        margin: 10px;
    }

    .bi-twitter {
        &:hover {
            color: #1DA1F2;
        }
    }

    .bi-instagram {
        &:hover { color: rgb(188, 12, 241);

        }
    }
    .bi-facebook {
        &:hover { color: #4267B2;
        }
    }
    
    h6 {
        font-weight: bolder;
    }

}



//responsive
@media (max-width:768px) {
    .footer {
        flex-direction: column;
    }
}