.navbar {
    background-color: $crema !important;
    box-shadow: 10px 0px 10px $rojo !important;
    position: sticky;
    top: 0px !important;
    height: 100px !important;
z-index: 1;
    a {
        img {
            height: 120px;
        }
    }

    form {
        button {
            background-color: $rojo !important;
            color: #eddbc0 !important;
            border: none !important;
            box-shadow: 1px 1px 1px 1px black !important;
        }

        .form-control {
            margin: auto;
        }
    }

    a:hover {
        font-weight: bolder !important;
        box-shadow: 10px 10px 10px #B73E3E !important;
        border-radius: 2px !important;
    }

}

@media (max-width:768px) {
    .container-fluid {
        margin: 0px;
background-color: #eddbc0;
    }

    .size {
        height: 90px !important;
    }
}